
.popover
{
  height: auto !important;
}

.popover ion-header-bar
{
  position: relative;
}

.popover ion-content
{
  top: 0;
  position: relative;
}

.popover-inner-content
{
  width: 100%;
  padding: 5px 20px;
}