<ion-view view-title="About us">
  <ion-content>
   <div class="card">
      <div class="item item-divider">
        Our History
     </div>
      <div class="item item-text-wrap">
        <p>Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.</p>
        <p>The restaurant traces its humble beginnings to <em>The Frying Pan</em>, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan.</p>
        <div class="well">
          <blockquote>
            <p>You better cut the pizza in four pieces because I'm not hungry enough to eat six.</p>
            <footer>Yogi Berra,  
              <cite title="Source Title">
                <smaller>The Wit and Wisdom of Yogi Berra, P. Pepe, Diversion Books, 2014</smaller>
              </cite>
            </footer>
          </blockquote>                
        </div>
      </div>
    </div>
    <div class="list list-inset">
      <div class="item item-divider">
        Corporate Leadership
      </div>
      <div class="item item-avatar item-text-wrap"
           ng-repeat="leader in leaders">
        <img ng-src="{{baseUrl+leader.image}}" alt="who's the boss">
        <h3>{{leader.name}} </h3>
        <h5>{{leader.designation}}</h5>
        <p>{{leader.description}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
