<ion-view view-title="contactus">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Location information
      </div>
      <div class="item item-text-wrap">
        <h3>Our Address</h3>
        <address>
          121, Clear Water Bay Road<br>
          Clear Water Bay, Kowloon<br>
          HONG KONG<br>
          <i class="icon ion-ios-telephone"></i>: +852 1234 5678<br>
          <i class="icon ion-ios-printer"></i>: +852 8765 4321<br>
          <i class="icon ion-ios-email"></i>: 
            <a href="mailto:confusion@food.net">confusion@food.net</a>
        </address>
      </div>
      <div class="button-bar">
        <button class="button button-positive icon ion-ios-telephone">
          Call
        </button>
        <button class="button button-calm icon ion-social-skype">
          Skype
        </button>
        <button class="button button-balanced icon ion-ios-email">
          Email
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
