<ion-popover-view>
  <ion-content>
    <ion-item ng-click="addThisToFavorites()">
      Add To Favorites
    </ion-item>
    <ion-item ng-click="addNewComment()">
      Add Comment
    </ion-item>
  </ion-content>
</ion-popover-view>
