<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Submit Comment on Dish</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeCommentForm()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content ng-controller="DishCommentController">
    <form id="reserveForm" ng-submit="submitComment()">
      <div class="list">
        <li class="item item-input item-select">
          <span class="input-label">Rating</span>
            <select ng-model="feedback.rating">
              <option ng-repeat="n in [1,2,3,4,5]" value="{{n}}">
                {{n}}
              </option>
            </select>
        </li>
         <li class="item item-input">
          <span class="input-label">Your Name</span>
          <input type="text" ng-model="feedback.author">
        </li>
         <li class="item item-input">
          <span class="input-label">Your Comment</span>
          <textarea ng-model="feedback.comment"></textarea>
        </li>
        <li class="item">
          <button class="button button-block button-positive" type="submit">
            Submit
          </button>
        </li>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
