<ion-view view-title="Dish Details">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon ion-ios-more"
            ng-click="openAddStuffPopOver($event)">
    </button>
  </ion-nav-buttons>
  <ion-content>
    <div class="card">
      <div class="item item-body item-text-wrap">
        <img class="full-image" ng-src="{{baseUrl+dish.image}}" alt="Uthappizza">
        <h2>
          {{dish.name}}
          <span style="font-size:75%">{{dish.price | currency}}</span>
          <span class="badge badge-assertive">{{dish.label}}</span>
        </h2>
        <p>{{dish.description}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col col-offset-10">
        <h4>
          <strong>Customer Comments &nbsp&nbsp</strong>
          <small>Sort by:</small>
          <input name="sort-by" ng-model="sortCriterium"></input>
        </h4>
        <div>
          <ul class="list-unstyled">
            <blockquote ng-repeat="comment in dish.comments | orderBy: sortCriterium">
              <p>{{comment.rating}} stars</p>
              <p>{{comment.comment}}</p>
              <footer>
                {{comment.author}}
                <cite>{{comment.date | date}}</cite>
              </footer>
            </blockquote>
          </ul>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
