<ion-view view-title="Favorites">
    <ion-nav-buttons side="secondary">
      <div class="buttons">
        <button class="button button-icon icon ion-ios-minus-outline"
          ng-click="toggleDelete()"></button>
      </div>
    </ion-nav-buttons>
  <div class="tabs-striped tabs-color-calm">
    <div class="tabs">
      <a class="tab-item"
         ng-class="{active:isSelected(1)}"
         ng-click="select(1)">All</a>
      <a class="tab-item"
         ng-class="{active:isSelected(2)}"
         ng-click="select(2)">Appetizers</a>
      <a class="tab-item"
         ng-class="{active:isSelected(3)}"
         ng-click="select(3)">Mains</a>
      <a class="tab-item"
         ng-class="{active:isSelected(4)}"
         ng-click="select(4)">Desserts</a>
    </div>
  </div>
  <ion-content>
    <ion-list show-delete="shouldShowDelete">
      <ion-item ng-repeat="dish in dishes | favoriteFilter: favorites | filter: { category: filtText }"
                href="#/app/menu/{{dish.id}}"
                class="item-thumbnail-left"
                on-swipe-left="deleteFavorite({{dish.id}})">
        <img ng-src="{{baseUrl+dish.image}}">
        <h2>
          {{dish.name}}
          <span style="font-size:75%">{{dish.price | currency}}</span>
          <span class="badge badge-assertive">{{dish.label}}</span>
        </h2>
        <p>{{dish.description}}</p>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="deleteFavorite({{dish.id}})">
        </ion-delete-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
