<ion-view view-title="Ristorante con Fusion">
  <ion-content>
    <div class="card">
      <div class="item item-divider">
        Our Lipsmacking Culinary Creations
        <span class="badge badge-assertive">{{firstDish.label}}</span>
      </div>
      <div class="item item-thumbnail-left item-text-wrap">
        <img ng-src="{{baseUrl+firstDish.image}}" alt="Uthappizza">
        <h2>{{firstDish.name}}
          <span class="badge">{{firstDish.price | currency}}</span>
        </h2>
        <p>{{firstDish.description}}</p>
      </div>
    </div>
    <div class="card">
      <div class="item item-divider">
        This Month's Promotions
        
      </div>
      <ul class="list" ng-if="showPromos">
        <li class="list" ng-repeat="promoDish in promotions">
          <div class="item item-thumbnail-left item-text-wrap">
            <img ng-src="{{baseUrl+promoDish.image}}" alt="{{promoDish.name}}">
            <h2>
              {{promoDish.name}}
              <span class="badge">{{promoDish.price | currency}}</span>
              <span class="badge badge-assertive">{{promoDish.label}}</span>
            </h2>
            <p>{{promoDish.description}}</p>
          </div>
        </li>
      </ul>
    </div>
      <div class="card">
          <div class="item item-divider">
            Meet our Culinary Specialists
          </div>
          <div class="item item-thumbnail-left item-text-wrap">
               <img ng-src="{{baseUrl+theChief.image}}" alt="{{theChief.name}}">
                <h2>{{theChief.name}}</h2>
                <h4>{{theChief.designation}}</h4>
                <p>{{theChief.description}}</p>
          </div>
      </div>
  </ion-content>
</ion-view>
