<ion-view view-title="Menu">
  <div class="tabs-striped tabs-color-royal">
    <div class="tabs">
      <a class="tab-item"
         ng-class="{active:isSelected(1)}"
         ng-click="select(1)">The Menu</a>
      <a class="tab-item"
         ng-class="{active:isSelected(2)}"
         ng-click="select(2)">Appetizers</a>
      <a class="tab-item"
         ng-class="{active:isSelected(3)}"
         ng-click="select(3)">Mains</a>
      <a class="tab-item"
         ng-class="{active:isSelected(4)}"
         ng-click="select(4)">Desserts</a>
    </div>
  </div>
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="dish in dishes | filter: { category: filtText }"
                href="#/app/menu/{{dish.id}}"
                class="item-thumbnail-left">
        <img ng-src="{{baseUrl+dish.image}}">
        <h2>
          {{dish.name}}
          <span style="font-size:75%">{{dish.price | currency}}</span>
          <span class="badge badge-assertive">{{dish.label}}</span>
        </h2>
        <p>{{dish.description}}</p>
        <ion-option-button class="button-assertive icon ion-plus-circled"
                           ng-click="addFavorite({{dish.id}})">
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
